nav .navbar-nav li a {
    color: rgb(185, 34, 42);
    font-weight: bold;
 }
 
 #footer a {
    color: #b9222a;
 }
 
 table tbody tr:hover {
    transform: scale(1.03);
 }
 
 .dropdown-menu {
    max-width: 150px;
  }
 
  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 101.3%;
    top: -30%;
  }
 
  .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
  }