<div class="container text-left">
    <div class="row py-2">
      <div class="alert alert-warning" role="alert">
        !! Page Underdevelopment !!
      </div>
      <h1><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank" rel="noopener noreferrer">Bootstrap Notes</a></h1>
    </div>
    <div class="row py-1">
      <div class="col-lg py-3">
        <h2>Accordions</h2>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Accordion Item #1
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Accordion Item #2
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg py-3">
        <h2>Badges</h2>
        <div class="row py-1">
          <h3>Badges match headers <span class="badge bg-secondary">Badge</span></h3>
        </div>
        <div class="row py-1">
          <div class="col">
            <button type="button" class="btn btn-primary">
              Button <span class="badge text-bg-secondary">lil badge</span>
            </button>
          </div>
        </div>
        <div class="row py-3">
          <div class="col">
            <button type="button" class="btn btn-primary position-relative">
              Btn w/ positioned badge
              <span
                class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span>
            </button>
          </div>
        </div>
        <div class="row py-3">
          <div class="col">
            <span class="badge text-bg-primary">Primary</span>
            <span class="badge text-bg-secondary">Secondary</span>
            <span class="badge text-bg-success">Success</span>
            <span class="badge text-bg-danger">Danger</span>
            <span class="badge text-bg-warning">Warning</span>
            <span class="badge text-bg-info">Info</span>
            <span class="badge text-bg-light">Light</span>
            <span class="badge text-bg-dark">Dark</span>
            </button>
          </div>
        </div>
        <div class="row py-3">
          <div class="col">
            <span class="badge rounded-pill text-bg-primary">Primary</span>
            <span class="badge rounded-pill text-bg-secondary">Secondary</span>
            <span class="badge rounded-pill text-bg-success">Success</span>
            <span class="badge rounded-pill text-bg-danger">Danger</span>
            <span class="badge rounded-pill text-bg-warning">Warning</span>
            <span class="badge rounded-pill text-bg-info">Info</span>
            <span class="badge rounded-pill text-bg-light">Light</span>
            <span class="badge rounded-pill text-bg-dark">Dark</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg py-3">
        <h2>Buttons</h2>
        <div class="row p-2">
          <div class="col">
            <button type="button" class="btn btn-primary">Basic Button</button>
          </div>
        </div>
        <div class="row justify-content-center p-2">
          <div class="col-5">
            <button type="button" class="btn btn-primary btn-lg">Lg Button</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-primary btn-sm">Sm Button</button>
          </div>
        </div>
        <div class="row justify-content-center p-2">
          <div class="col-4">
            <button type="button" class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
              Custom button
            </button>
          </div>
          <div class="col-5">
            <button type="button" class="btn btn-outline-light">Outlined Light</button>
          </div>
        </div>
        <div class="row p-2">
          <div class="col">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-danger">Left</button>
              <button type="button" class="btn btn-warning">Middle</button>
              <button type="button" class="btn btn-success">Right</button>
            </div>
          </div>
        </div>
        <div class="row p-2">
          <div class="col">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <button type="button" class="btn btn-primary">Button</button>
              <button type="button" class="btn btn-primary">Button</button>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Dropdown
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-1">
      <div class="col-lg py-3">
        <h2>Cards</h2>
      </div>
      <div class="col-lg py-3">
        <h2>Carousels</h2>
      </div>
      <div class="col-lg py-3">
        <h2>Dropdowns</h2>
      </div>
    </div>  
    <div class="row py-1">
      <div class="col-lg py-3">
        <h2>List Groups</h2>
      </div>
      <div class="col-lg py-3">
        <h2>Modals</h2>
      </div>
      <div class="col-lg py-3">
        <h2>Offcanvas</h2>
      </div>
    </div>  
    <div class="row py-1">
      <div class="col-lg py-3">
        <h2>Pagination</h2>
      </div>
      <div class="col-lg py-3">
        <h2>Popovers</h2>
      </div>
      <div class="col-lg py-3">
        <h2></h2>
      </div>
    </div>  
  </div>