<div style="text-align: left">
    <a href="/notes/linux/linux-terminal">Linux Terminal</a><br>
    <a href="/notes/linux/linux-file-system">Linux File System</a><br>
    <a href="/notes/linux/linux-task-automation">Linux File Task Automation</a><br>
    <a href="/notes/linux/linux-file-archiving-compression">Linux File Archiving & Compression</a><br>
</div>