<div class="row py-3">
    <h1 class="pb-3">Personal Records</h1>
</div>
<div class="row py-2">
    <h2>High School (Manitowoc Lincoln 2012-2016)</h2>
</div>
<div class="row py-1">
    <div class="col-lg-7">
        <table class="table table-dark table-striped table-hover table-bordered">
            <caption>*TF = Track & Field, CC = Cross Country</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Record</th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                    <th scope="col">Note*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">100m</th>
                    <td>12.4s</td>
                    <td>Manitowoc</td>
                    <td>2016</td>
                    <td>Hand-timed TF</td>
                </tr>
                <tr>
                    <th scope="row">200m</th>
                    <td>26.1s</td>
                    <td>Manitowoc</td>
                    <td>2016</td>
                    <td>Hand-timed TF</td>
                </tr>
                <tr>
                    <th scope="row">400m</th>
                    <td>57.93s</td>
                    <td>Manitowoc</td>
                    <td>2016</td>
                    <td>Offical TF</td>
                </tr>
                <tr>
                    <th scope="row">800m</th>
                    <td>2:06.76</td>
                    <td>Manitowoc</td>
                    <td>2016</td>
                    <td>Offical TF</td>
                </tr>
                <tr>
                    <th scope="row">1600m</th>
                    <td>4:55.69</td>
                    <td>DePere</td>
                    <td>2016</td>
                    <td>Offical TF</td>
                </tr>
                <tr>
                    <th scope="row">3200m</th>
                    <td>10:51.90</td>
                    <td>Manitowoc</td>
                    <td>2016</td>
                    <td>Hand-timed CC</td>
                </tr>
                <tr>
                    <th scope="row">3200m</th>
                    <td>11:19.00</td>
                    <td>Manitowoc</td>
                    <td>2016</td>
                    <td>Offical TF</td>
                </tr>
                <tr>
                    <th scope="row">5km</th>
                    <td>17:54.30</td>
                    <td>Fond Du Lac</td>
                    <td>2016</td>
                    <td>Offical CC</td>
                </tr>
                <tr>
                    <th scope="row">Pole Vault</th>
                    <td>10 ft</td>
                    <td>Manitowoc</td>
                    <td>2016</td>
                    <td>Offical TF</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row py-2">
    <h2>College (University of Wisconsin Stout 2016-2018)</h2>
</div>
<div class="row py-1">
    <div class="col-lg-7">
        <table class="table table-dark table-striped table-hover table-bordered">
            <caption>*TF = Track & Field, CC = Cross Country</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Record</th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                    <th scope="col">Note*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">300m</th>
                    <td>40.27s</td>
                    <td>UW-Stout</td>
                    <td>2017</td>
                    <td>Offical TF</td>
                </tr>
                <tr>
                    <th scope="row">400m</th>
                    <td>54.3s</td>
                    <td>UW-La Crosse</td>
                    <td>2017</td>
                    <td>Split TF</td>
                </tr>
                <tr>
                    <th scope="row">600m</th>
                    <td>1:29.24</td>
                    <td>UW-Stout</td>
                    <td>2017</td>
                    <td>Offical TF</td>
                </tr>
                <tr>
                    <th scope="row">800m</th>
                    <td>2:02.15</td>
                    <td>UW-Stout</td>
                    <td>2018</td>
                    <td>Offical TF</td>
                </tr>
                <tr>
                    <th scope="row">1600m</th>
                    <td>4:47.09</td>
                    <td>UW-Stout</td>
                    <td>2017</td>
                    <td>Converted 1600m TF</td>
                </tr>
                <tr>
                    <th scope="row">1 mile</th>
                    <td>4:46.00</td>
                    <td>UW-Stout</td>
                    <td>2018</td>
                    <td>Offical TF</td>
                </tr>
                <tr>
                    <th scope="row">5000m</th>
                    <td>17:44.00</td>
                    <td>UW-Eua Claire</td>
                    <td>2017</td>
                    <td>Offical CC</td>
                </tr>
                <tr>
                    <th scope="row">8000m</th>
                    <td>29:27.00</td>
                    <td>UW-Oshkosh</td>
                    <td>2017</td>
                    <td>Offical CC</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row py-2">
    <h2>Post-Collegiate Career (2018-now)</h2>
</div>
<div class="row py-1">
    <div class="col-lg-7">
        <table class="table table-dark table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Record</th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <tr id="24-hour-run">
                    <th scope="row">24hr</th>
                    <td>34.5 miles</td>
                    <td>Menomonie, WI</td>
                    <td>Jul 13, 2019</td>
                    <td>3mi/hr x 11.5 hr</td>
                </tr>
                <tr id="2nd-Flatiron">
                    <th scope="row">2nd Flatiron RT</th>
                    <td>33:58.00</td>
                    <td>Boulder, CO</td>
                    <td>Jun 17, 2021</td>
                    <td>1,161 ft gain</td>
                </tr>
                <tr id="5km">
                    <th scope="row">5km</th>
                    <td>19:24.00</td>
                    <td>Crown Hill Park, CO</td>
                    <td>Feb 19, 2021</td>
                    <td>-30 ft gain</td>
                </tr>
                <tr id="50km">
                    <th scope="row">50km</th>
                    <td>9:19:22.00</td>
                    <td>Boulder, CO</td>
                    <td>Dec 6, 2020</td>
                    <td>6,988 ft gain</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row py-1">
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-10">
        <div id="records-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#records-carousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#records-carousel" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#records-carousel" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#records-carousel" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="8000">
                    <iframe width="560" height="315" 
                    src="https://www.youtube.com/embed/po9geZ2EqGs?si=bLRlDCpPWa-f-OSs" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                </div>
                <div class="carousel-item" data-bs-interval="8000">
                    <div class="strava-embed-placeholder" data-embed-type="activity" data-embed-id="5488165704" data-style="standard"></div>
                    <script src="https://strava-embeds.com/embed.js"></script>
                </div>
                <div class="carousel-item" data-bs-interval="8000">
                    <div class="strava-embed-placeholder" data-embed-type="activity" data-embed-id="11146185180" data-style="standard"></div>
                    <script src="https://strava-embeds.com/embed.js"></script>
                </div>
                <div class="carousel-item" data-bs-interval="8000">
                    <div class="strava-embed-placeholder" data-embed-type="activity" data-embed-id="4440129787" data-style="standard"></div>
                    <script src="https://strava-embeds.com/embed.js"></script>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#records-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#records-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>