<h1 class="pb-3">NOAA Weather</h1>

<ul>
    <li><a href="https://forecast.weather.gov/MapClick.php?lon=-106.16114616394043&lat=39.48200698098091#.ZAwOQtJKhhE" target="_blank" rel="noopener noreferrer">Copper</a> - <a href="https://www.coppercolorado.com/the-mountain/webcams/mountain/snow-stake-cam" target="_blank" rel="noopener noreferrer">live cams</a></li>
    <li><a href="https://forecast.weather.gov/MapClick.php?lon=-105.77404975891112&lat=39.86846667107483#.ZAwO4NJKhhE" target="_blank" rel="noopener noreferrer">Winter Park</a> - <a href="https://www.youtube.com/watch?v=8rzBPS0DqGE" target="_blank" rel="noopener noreferrer">live cams</a></li>
    <li><a href="https://forecast.weather.gov/MapClick.php?lon=-105.59865474700928&lat=39.93946648134121#.ZAwSXdJKhhE" target="_blank" rel="noopener noreferrer">Eldora</a> - <a href="https://www.eldora.com/the-mountain/webcams/snow-stake-cam" target="_blank" rel="noopener noreferrer">live cams</a></li>
    <li><a href="https://forecast.weather.gov/MapClick.php?lon=-105.86987972259523&lat=39.640904910045435#.ZAwPiNJKhhE" target="_blank" rel="noopener noreferrer">A Basin</a> - <a href="https://www.arapahoebasin.com/the-mountain/webcams/" target="_blank" rel="noopener noreferrer">live cams</a></li>
    <li><a href="https://forecast.weather.gov/MapClick.php?lon=-106.75595283508301&lat=40.45462962131489#.ZAwTNNJKhhG" target="_blank" rel="noopener noreferrer">Steamboat</a> - <a href="https://www.youtube.com/watch?v=MQoODRNWsq0" target="_blank" rel="noopener noreferrer">live cams</a></li>
    <li><a href="https://forecast.weather.gov/MapClick.php?lon=-106.87027931213379&lat=39.1514521194936#.ZAwUN9JKhhE" target="_blank" rel="noopener noreferrer">Aspen Highlands</a> - <a href="https://www.aspensnowmass.com/four-mountains/aspen-highlands/mountain-cams/highlands-snow-stake" target="_blank" rel="noopener noreferrer">live cams</a></li>
    <li><a href="https://forecast.weather.gov/MapClick.php?lon=-106.96280479431152&lat=39.188468436033844#.ZAwUx9JKhhE" target="_blank" rel="noopener noreferrer">Aspen Snowmass</a> - <a href="https://www.aspensnowmass.com/four-mountains/snowmass/mountain-cams/snow-stake-time-lapse" target="_blank" rel="noopener noreferrer">live cams</a></li>
    <li><a href="https://forecast.weather.gov/MapClick.php?lon=-106.82221412658691&lat=39.16902175507883#.ZAwUV9JKhhE" target="_blank" rel="noopener noreferrer">Aspen Mountain</a> - <a href="https://www.aspensnowmass.com/four-mountains/aspen-mountain/mountain-cams/aspen-mountain-snow-stake" target="_blank" rel="noopener noreferrer">live cams</a></li>
    <li><a href="https://forecast.weather.gov/MapClick.php?lat=40.6012&lon=-111.5848#.ZAwVLdJKhhE" target="_blank" rel="noopener noreferrer">Brighton</a> - <a href="https://brightonresort.com/conditions" target="_blank" rel="noopener noreferrer">live cams</a></li>
    <li><a href="https://forecast.weather.gov/MapClick.php?lon=-111.60727500915525&lat=40.61825050837746#.ZAwVgtJKhhE" target="_blank" rel="noopener noreferrer">Solitude</a> - <a href="https://www.youtube.com/watch?v=Hhv0J8fQAxw" target="_blank" rel="noopener noreferrer">live cams</a></li>
    <li><a href="https://forecast.weather.gov/MapClick.php?lon=-111.64315223693846&lat=40.558415135759844#.ZAwVvNJKhhE" target="_blank" rel="noopener noreferrer">Snowbird</a> - <a href="https://www.snowbird.com/mountain-report/#webcams" target="_blank" rel="noopener noreferrer">live cams</a></li>
    <li><a href="https://forecast.weather.gov/MapClick.php?lon=-110.84715843200682&lat=43.59394184757798#.ZAwXANJKhhE" target="_blank" rel="noopener noreferrer">Jackson Hole</a> - <a href="https://www.jacksonhole.com/live-mountain-cams" target="_blank" rel="noopener noreferrer">live cams</a></li>
</ul>