<a href="https://docs.google.com/spreadsheets/d/1vYgQe-3NbkonQ6t8Iy2GH-0G2QeFg2VNo6jHQdL2MCw/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Training Plan<a>
    <iframe class="py-3" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSxfzKT3d6Y0QTZNzq-WPFCloDXfTh5s8PtugWQgVL4BMoe09wh93cGf1hk2zzSZEu9CO9CWaxACRgw/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" height="1000" width="100%"></iframe>