<div class="container text-center">
    <h1>404 - Page Not Found</h1>
    <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
    <a href="/" class="btn btn-primary">Go to Homepage</a>
</div>