<h1 class="pb-3">Courses</h1>
<div class="container text-left">
  <div class="row">
    <div class="col">
        <span class="badge bg-warning">In Progress</span>
        <span class="badge bg-success">Completed</span>
        <br>
        <br>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h2><span class="badge rounded-pill bg-success"> </span> <a href="https://www.linkedin.com/feed/update/urn:li:activity:7143071741676859392/" target="_blank" rel="noopener noreferrer">SkySpark Essentials Certification</a></h2>
        <h6>Date: Dec. 19, 2023 | Length: 24 hrs </h6>
        <p>The SkySpark Essentials Class is the ideal way to get started with SkySpark. This 3-day program provides students with the essential information to start to use and implement SkySpark. The training program consists of 5 Modules, each of which builds on the knowledge acquired in the previous Module. Full details are available in the <a href="http://www.skyfoundry.com/file/30/SkySpark-Training-Programs-Overview.pdf" target="_blank" rel="noopener noreferrer">Training Overview document</a>.</p> 
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h2><span class="badge rounded-pill bg-success"> </span> <a href="https://www.udemy.com/certificate/UC-56e64c49-9042-49d2-9e68-7091833c4b37/" target="_blank" rel="noopener noreferrer">Linux Mastery: Master the Linux Command Line in 11.5 Hours</a></h2>
        <h6>Date: Jan. 12, 2023 | Length: 10.5 hrs </h6>
        <p>This course introduced me the Linux operating system and got me comfortable using the terminal. This course include sections such as Mastering the Linux Terminal, the Linux File System, Task Automation and Scheduling, and Package Managers and Software Repositories.</a>.</p> 
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h2><span class="badge rounded-pill bg-warning"> </span> <a href="https://github.com/aklavo/PyTorch-Basics" target="_blank" rel="noopener noreferrer">PyTorch Course</a></h2>
        <h6>Date: TBD | Length: 7/24 hrs </h6>
        <p>The repo linked stores all the examples, notes, and exercises from the <a href="freeCodeCamp.org" target="_blank" rel="noopener noreferrer">freeCodeCamp.org</a> course <i>PyTorch for Deep Learning & Machine Learning</i>. Daniel Bourke developed this course. The corresponding repo can be found <a href="https://github.com/mrdbourke/pytorch-deep-learning" target="_blank" rel="noopener noreferrer">here</a>.</p> 
    </div>
  </div>
</div>