<h1 class="pb-3">Projects</h1>
<div class="container text-left">
  <div class="row">
    <div class="col">
        <span class="badge bg-danger">Planning</span>
        <span class="badge bg-warning">Under Development</span>
        <span class="badge bg-success">Completed</span>
        <br>
        <br>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h2><span class="badge rounded-pill bg-warning"> </span> <a href="https://gitlab.com/aklavo/personal-website" target="_blank" rel="noopener noreferrer">This Website</a></h2>
        <p>
            This website is an ongoing development project for myself. It is an HTML/CSS front-end utilizing a bootstrap framework, and a simple JavaScript back-end utilizing 
            an nginx web server. All images are hosted on a public AWS S3 bucket and the website is hosted on an AWS linux EC2 instance. My personal developement is automated 
            through a gitlab CI/CD pipeline. The point of this project was to learn basic web developement and deployment techniques. 
        </p>
        <p>
            Here on my site you'll find a home page introducing myself, followed by my resume and publications. In the References tab you'll find testimonials from 
            some of my previous employeers/colleagues. In the Projects tab you'll find completed and in progess development projects showcasing my coding abilities. In the Courses
            tab you'll find courses a have or am currently taking. In the Notes tab you'll find relevant concepts on subjects I've learned in both my personal and professional 
            life. My contact information can be found in the footer and/or navbar. Please reach out if you find bugs or errors anywhere on the website.
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h2><span class="badge rounded-pill bg-success"> </span> <a href="https://github.com/aklavo/thermal-simulation" target="_blank" rel="noopener noreferrer">Solar Thermal Simulation</a></h2>
        <p>An interactive web-app that showcases the development of a simple solar thermal simulation. The app can be publicly accessed <a href="https://thermal-simulation.streamlit.app/The-Simulation" target="_blank" rel="noopener noreferrer"> here</a></p> 
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h2><span class="badge rounded-pill bg-success"> </span> <a href="https://github.com/aklavo/advent-of-code-2023/tree/main" target="_blank" rel="noopener noreferrer">Advent of Code 2023</a></h2>
        <p>My solutions to Advent of Code 2023. I'm done here we'll try and make it farther next year...</p> 
        
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h2><span class="badge rounded-pill bg-success"> </span> <a href="https://gitlab.com/aklavo/shuffle-spotify-library" target="_blank" rel="noopener noreferrer">Spotify Library Playlist</a></h2>
        <p>This project was meant to help me practice my general python development, interacting with API's, and solve a nagging issue I've always had with Spotify. 
        In the current version of Spotify there is no way to shuffle all the songs in "Your Library". You can only shuffle "Liked Songs". This project will create 
        a playlist of your entire library allowing you to shuffle all songs including saved tracks, created playlist, and saved albums.</p> 
        <p>The app is in a functional beta version. I might continue to work on this, but based on my orginally goal this project is complete in that I made a Total 
          Library playlist for myself via the Spotify API and Flask app UI.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h2><span class="badge rounded-pill bg-success"> </span> <a href="https://github.com/aklavo/MyLinuxEnv" target="_blank" rel="noopener noreferrer">My Linux Enviroment</a></h2>
        <p>This project stores all the configuration files necessary to create my local linux enviroment on any machine. I add to this over time as new conveniences arrive, but for the most part, it is a "completed" project.</p> 
    </div>
  </div>
</div>