<h1 class="pb-3">Publications</h1>
<div class="px-3 px-sm-0">
        <div style="text-align: left;">
                <h2>Masters Thesis</h2>
        </div>
        <div style="text-align: left;">
                <p>Klavekoske, A. (2022) <i>Evaluating Synergistic Effects of Optimally Controlling Temperature and Ventilation in Grid-interactive Efficient Commercial Buildings</i> [Master's Thesis, University of Colorado Boulder]. CU Scholar. <a href="https://scholar.colorado.edu/concern/graduate_thesis_or_dissertations/6682x5215" target="_blank" rel="noopener noreferrer">Access Thesis</a> </p>
        </div>
        <div style="text-align: left;">
                <h2>Journal Articles</h2>
        </div>
        <div style="text-align: left;">
                <p>Klavekoske, Andrew B., Vincent J. Cushing, and Gregor P. Henze. "Evaluation of the Demand Flexibility Potential through Joint Optimization of Building Thermal Response and Indoor Air Quality in Commercial Buildings." <i>ASME Journal of Engineering for Sustainable Buildings and Cities</i> (2024): 1-13.  <a href="https://doi.org/10.1115/1.4065704" target="_blank" rel="noopener noreferrer">Access Paper</a> If you'd like free PDF access just email me.</p>
        </div>
</div>