<h1 class="pb-3">References</h1>
<div class="px-3 px-sm-0">
    <hr>
    <div class="justify-content-center row">
        <div class="col-lg-2">
            <img src="https://andrews-s3bucket.s3.us-west-2.amazonaws.com/haley-gairhan.jpeg" alt="Haley (McLaughlin) Gairhan" class="img-fluid img-thumbnail">
        </div>
        <div class="col-lg-2">
            <div>
                <h4 class="pt-3">Haley (McLaughlin) Gairhan</h4>
            </div>
            <div>
                <p>Director of Project Development at Clear Energy</p>
            </div>
            <div>
                <p><a href="https://www.linkedin.com/in/haley-gairhan-eit-cmvp-44b37b7b/" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
            </div>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
                <p class="text-center">"I supervised Andrew during his 2020 internship with McKinstry.
                     He supported my work with ongoing commissioning clients, always willing
                      to dive in and take ownership of the complex problems we were
                       solving. I appreciate that Andrew stays curious and open to finding
                        new ways of meeting the needs of our built environment."<br> -April 24, 2023
                </p>
        </div>
    </div>
    <hr>
    <div class="justify-content-center row">
        <div class="col-lg-2">
            <img src="https://andrews-s3bucket.s3.us-west-2.amazonaws.com/gregor.png" alt="Gregor P. Henze" class="img-fluid img-thumbnail">
        </div>
        <div class="col-lg-2">
            <div>
                <h4 class="pt-3">Gregor P. Henze</h4>
            </div>
            <div>
                <p>Professor • RASEI Fellow • NREL Joint Professor • Professional Engineer</p>
            </div>
            <div>
                <p><a href="https://www.colorado.edu/ceae/gregor-p-henze" target="_blank" rel="noopener noreferrer">Website</a></p>
            </div>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
                <p class="text-center">.....................................................................<br>
                    ....................................................................<br>
                    ....................................................................
                </p>
        </div>
    </div>
    <hr>
    <div class="justify-content-center row">
        <div class="col-lg-2">
            <img src="https://andrews-s3bucket.s3.us-west-2.amazonaws.com/vince.png" alt="Gregor P. Henze" class="img-fluid img-thumbnail">
        </div>
        <div class="col-lg-2">
            <div>
                <h4 class="pt-3">Vincent
                    J. Cushing</h4>
            </div>
            <div>
                <p>QCoefficient CTO</p>
            </div>
            <div>
                <p><a href="https://www.linkedin.com/in/vincent-cushing-2088584/" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
            </div>
            <div>
                <p><a href="https://www.buildingsasbatteries.com/cushing" target="_blank" rel="noopener noreferrer">Website</a></p>
            </div>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
                <p class="text-center">........................................................................<br>
                    .......................................................................<br>
                    .......................................................................
                </p>
        </div>
    </div>
    <hr>
</div>