<div class="px-3 px-sm-0">
    <div class="text-center">
        <h1>Andrew Klavekoske</h1>
    </div>
    <div class="text-center">
        <p>Salt Lake City, UT 84106</p>
    </div>
    <div class="text-center">
        <h3>Professional Summary</h3>
    </div>
    <hr>
    <div class="text-center">
        <p>Building energy engineer with a unique background in not only energy modeling, optimization, and data
            science, but also building performance standards, HVAC systems, and FDD implementation. I am committed to
            addressing the world's most pressing climate challenges via scalable software solutions in the built environment.</p>
    </div>
    <div class="text-center">
        <h3>Skills</h3>
    </div>
    <hr>
    <div class="justify-content-center row">
        <div class="col-sm-10 offset-md-2">
            <div>
                <ul>
                    <li>Direct experience working within local building performance standards and utility programs.</li>
                    <li>Data analysis, manipulation, and science proficiency in Python (jupyter notebooks, pandas, scikit-learn).</li>
                    <li>Research experience with optimization algorithms and model predictive control.</li>
                    <li>Passionate about elegantly communicating & displaying building data to the public.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h3>Work History</h3>
    </div>
    <hr>
    <div class="justify-content-center row">
        <div class="col-lg-2">
            <h6>Sep 2024- Current</h6>
        </div>
        <div class="col-lg-6">
            <b>Digital Twin Application Engineer</b>
            <p>
                <a href="https://passivelogic.com/" target="_blank" rel="noopener noreferrer">PassiveLogic</a>
                - Salt Lake City , UT
            </p>
            <ul>
                <li>Audit client buildings to in aid digital twin creation.</li>
                <li>Generate building, system, and site digital twins via the Quantum standard.</li>
                <li>Formally test and validate a variety of PassiveLogic products and internal services.</li>
                <li>Communicate limitations of current applications and workflows to corresponding teams to focus development. </li>
            </ul>
        </div>
    </div>
    <div class="justify-content-center row">
        <div class="col-lg-2">
            <h6>Apr 2023 - Sep 2024</h6>
        </div>
        <div class="col-lg-6">
            <b>Building Energy Specialist</b>
            <p>
                <a href="https://www.mckinstry.com/" target="_blank" rel="noopener noreferrer">McKinstry</a>
                - Denver, CO
            </p>
            <ul>
                <li>Deep working knowledge of building performance standards and EnergyStar
                    Portfolio Manager, specifically the CO BPS and the Energize Denver programs.</li>
                <li>In-depth knowledge of FDD/analytics software (SkySpark). Automated the
                    importing/syncing of building trend data from a JCI SQL database serving the
                    Denver Int. Airport (DEN). Created an automated pipeline from analytics to
                    work-order creation using DEN's Maximo API.</li>
                <li>Consistently identifies low/no-cost energy savings in HVAC systems through
                    building automation analysis, client interviews, and on-site audits.</li>
                <li>Performs energy calculations and trend analysis to justify energy savings.</li>   
                <li>Decreased the time to generate client-facing reports by 40% through the creation
                    of an excel-base report builder.</li> 
            </ul>
        </div>
    </div>
    <div class="justify-content-center row">
        <div class="col-lg-2">
            <h6>Aug 2022 - Jan 2023</h6>
        </div>
        <div class="col-lg-6">
            <b>Research Associate</b>
            <p>
                <a href="https://www.buildingsasbatteries.com/cushing" target="_blank" rel="noopener noreferrer">QCoefficient</a>
                - Boulder , CO (Remote)
            </p>
            <ul>
                <li>Developed
                    and deployed Python Dash apps - integrated with
                    MariaDB - to diagnose, visualize, and support
                    decision analysis of optimization results.</li>
                <li>Created
                    and managed Ubuntu VMs using Oracle VM
                    VirtualBox and accessed by Remote Desktop - to
                    house apps for portability and for secure
                    internet access.</li>
                <li>Managed, updated,
                    queried, and wrote code for a MariaDB database
                    (MySQL).</li>
                <li>Continued to diagnose and
                    develop EP building energy models.</li>
            </ul>
        </div>
    </div>
    <div class="justify-content-center row">
        <div class="col-lg-2">
            <h6>Aug 2020 - Aug 2022</h6>
        </div>
        <div class="col-lg-6">
            <b>Graduate Research Assistant</b>
            <p>
                <a href="https://www.colorado.edu/ceae/" target="_blank" rel="noopener noreferrer">University
                    of Colorado Boulder</a> - Boulder, CO
            </p>
            <ul>
                <li>Explored
                    the potential synergy between temperature
                    setpoint and outside air fractions to minimize
                    HVAC electric expense and carbon emissions.</li>
                <li>Diagnosed
                    and developed high fidelity EP models - used to
                    optimize daily HVAC operations of large
                    commercial buildings (400,000-1,350,000 sqft).
                    Models included variable speed equipment and
                    energy management system controls.</li>
                <li>Aided
                    in the development of advanced calibration and
                    M&amp;V methods.</li>
            </ul>
        </div>
    </div>
    <div class="text-center">
        <h3>Education</h3>
    </div>
    <hr>
    <div class="justify-content-center row">
        <div class="col-lg-2">
            <h6>Aug 2020 - Jul 2022</h6>
        </div>
        <div class="col-lg-5">
            <b>Master of Science: Architectural Engineering </b>
            <p>University of Colorado Boulder - Boulder, CO - GPA: 3.94</p>
        </div>
    </div>
    <div class="justify-content-center row">
        <div class="col-lg-2">
                <h6>Sep 2016 - May 2020</h6>
        </div>
        <div class="col-lg-5">
            <b>Bachelor of Science: Applied Physics</b>
            <p>University of Wisconsin Stout - Menomonie, WI - GPA: 3.96</p>
        </div>
    </div>
    <div class="text-center">
        <h3>Publications</h3>
    </div>
    <hr>
    <div class="text-center">
        <p>Klavekoske, A. (2022) <i>Evaluating Synergistic Effects of Optimally Controlling Temperature and Ventilation in Grid-interactive Efficient Commercial Buildings</i> [Master's Thesis, University of Colorado Boulder]. CU Scholar. <a href="https://scholar.colorado.edu/concern/graduate_thesis_or_dissertations/6682x5215" target="_blank" rel="noopener noreferrer">Access Thesis</a> </p>
        <p>Klavekoske, Andrew B., Vincent J. Cushing, and Gregor P. Henze. "Evaluation of the Demand Flexibility Potential through Joint Optimization of Building Thermal Response and Indoor Air Quality in Commercial Buildings." <i>ASME Journal of Engineering for Sustainable Buildings and Cities</i> (2024): 1-13.  <a href="https://doi.org/10.1115/1.4065704" target="_blank" rel="noopener noreferrer">Access Paper</a> If you'd like free PDF access just email me.</p>
    </div>
</div>