<div class="container">
    <div class="row">
      <div class="col-8 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
          <img class="img-fluid img-thumbnail" src="https://andrews-s3bucket.s3.us-west-2.amazonaws.com/bench-pic-cropped.jpg" alt="Andrew Klavekoske profile picture 2019">
      </div>
      <div class="col">
          <h1 class="pt-3">Andrew Klavekoske</h1>
          <p><b>Current Position:</b> Digital Twins Application Engineer</p>
          <p><b>Career/Research Interests:</b> Optimal building control, Building energy modelling, Grid-interactive efficient buildings (GEBs), and Data Science</p>
          <p><b>Education:</b> B.S. Applied Physics and M.S. Architectural Engineering</p>
          <p><b>Hobbies:</b> Running, Snowboarding, Rock Climbing, Computers, and Travel</p>
      </div>
    <div class="row">
      <div class="col text-center">
          <br>
          <br>
          <p>Welcome to my website! My name is Andrew Klavekoske. I grew up in Wisconsin where I ran cross country and track and earned a Bachelor degree 
              in Applied Physics. Part way through my undergraduate career I became very passionate about focusing my education and career path towards
              combating the every evolving challenge of climate change. This led me to the University of Colorado Boulder where I'd start a Masters program
              in Architectural Engineering with a focus on Building Systems Engineering. Here I would leverage my skills in fundamental physics and mathematics to 
              learn how to intelligently control buildings to reduce carbon emissions. Skills such as building energy modelling, model predictive control, 
              software development, and data science are now in my repertoire as I search for jobs at innovative companies looking to make a difference in the world.</p>
      </div>
    </div>
  </div>